<div class="news">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row" style="width: 40%">
            <h1>Dean's Honor List</h1>
            {{ "2021-12-01" | date: "%b %-d, %Y" }}
          </th>
          <td>
            <a class="news-title" href="#">Dean's Honor List</a>
          </td>
        </tr>
        <tr>
          <th scope="row" style="width: 40%">
            <h1>Dean's Honor List</h1>
            {{ "2022-12-15" | date: "%b %-d, %Y" }}
          </th>
          <td>
            <a class="news-title" href="#">Dean's Honor List</a>
          </td>
        </tr>
        <tr>
          <th scope="row" style="width: 40%">
            <h1>Dean's Honor List</h1>
            {{ "2023-12-30" | date: "%b %-d, %Y" }}
          </th>
          <td>
            <a class="news-title" href="#">Dean's Honor List</a>
          </td>
        </tr>
      </table>
    </div>
  </div>
  