<div class="news">
    <!-- <h2>Recent Achievements</h2> -->
    <ul>
        <li>
            I have always been sketching as hobby, visit my art collection <a href = "/projects/">here!</a> 
        </li>
        <li>
            I often try to follow the <a href="#">helpful advice</a> given by my mentor, <a href="#">Dr. Ihsan Ayyub Qazi</a> , for doctoral studies in general. (While I do my best to apply these principles in my research journey, there are often times when I fall short ;-;).
        </li>
        <li>
            A fantastic resource that greatly assisted me during my application for doctoral studies.
        </li>
        <li>
            One of the most memorable match from last premier league, where Liverpool F.C greatly humbled Manchester United F.C by <strong>7-0</strong>. Yes, I'm <strong>L.F.C</strong> fan !  
        </li>
        <li>
            One of my favourite songs from my favourite Rock band, Linkin Park
            <br>
            <br>
            <img src="assets/img/linkinPark.webp" alt="Linkin Park Image" style="width: 500px; height: auto; margin-right: auto;">
        </li>

    </ul>
</div>
