<div class="news">
    <!-- <h2>Recent Achievements</h2> -->
    <ul>
        <li>
            <strong>{{ "2021-12-01" | date: "%Y" }}</strong>: Member of LUMS Community Service Society (LCSS)
        </li>
        <li>
            <strong>{{ "2021-12-01" | date: "%Y" }}</strong>: Member of LUMS Society: SPADES
        </li>
        <li>
            <strong>{{ "2022-12-01" | date: "%Y" }}</strong>: Assistant Director of IT Department: SPADES
        </li>
        <li>
            <strong>{{ "2022-12-01" | date: "%Y" }}</strong>: Team Member of LUMS Cricket Team
        </li>
        <li>
            <strong>{{ "2023-12-01" | date: "%Y" }}</strong>: Team Member of LUMS Squash Team
        </li>
        <li>
            <strong>{{ "2023-12-01" | date: "%Y" }}</strong>: Director of IT Department: SPADES
        </li>
    </ul>
</div>
