<div class="news">
    I firmly believe in maintaining a work-life balance, a principle that has enabled me to actively participate in various societies and sports teams at LUMS.
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2021-12-01" | date: "%Y" }}
          </th>
          <td>
            <span class="news-title">Member of LUMS Community Service Society (LCSS)</span>
          </td>
        </tr>
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2021-12-01" | date: "%Y" }}
          </th>
          <td>
            <span class="news-title">Member of LUMS Society : SPADES</span>
          </td>
        </tr>
        <tr>
            <th scope="row" style="width: 40%">
              {{ "2022-12-01" | date: "%Y" }}
            </th>
            <td>
              <span class="news-title">Assistant Director of IT Department : SPADES</span>
            </td>
        </tr>
        <tr>
            <th scope="row" style="width: 40%">
              {{ "2022-12-01" | date: "%Y" }}
            </th>
            <td>
              <span class="news-title">Team Member of LUMS Cricket Team</span>
            </td>
        </tr>
        <tr>
            <th scope="row" style="width: 40%">
              {{ "2023-12-01" | date: "%Y" }}
            </th>
            <td>
              <span class="news-title">Team Member of LUMS Squash Team</span>
            </td>
        </tr>
        <tr>
            <th scope="row" style="width: 40%">
              {{ "2023-12-01" | date: "%Y" }}
            </th>
            <td>
              <span class="news-title">Director of IT Department : SPADES</span>
            </td>
        </tr>
      </table>
    </div>
  </div>
  