<div class="news">
  <div class="table-responsive">
    <table class="table table-sm table-borderless">
      {% assign fake_dates = ["2023-01-01", "2023-02-15", "2023-03-30"] %}
      {% assign fake_titles = ["Dean's Honour List", "Dean's Honour List", "Dean's Honour List"] %}
      
      {% for i in (0..2) %}
        <tr>
          <th scope="row" style="width: 40%">{{ fake_dates[i] | date: "%b %-d, %Y" }}</th>
          <td>
            <a class="news-title" href="#">{{ fake_titles[i] }}</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
