<div class="research-experience">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <!-- Research Associate -->
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2024-06-01" | date: "%b, %Y" }} – Present
          </th>
          <td>
            <span class="news-title"><strong>Research Associate</strong> - Network Lab & Blockchain Lab, LUMS</span>
            <ul>
              <li>
                Worked on enabling real-time mobility support for edge applications in 5G. 
                <em><strong>Paper under review by ACM-MOBICOMM 2024-25</strong></em>.
              </li>
              <li>Creating Access Control Policies Pipeline over Ethereum 2.0.</li>
            </ul>
          </td>
        </tr>
  
        <!-- Undergraduate Research Assistant (Sept 2023 – May 2024) -->
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2023-09-01" | date: "%b, %Y" }} – {{ "2024-05-01" | date: "%b, %Y" }}
          </th>
          <td>
            <span class="news-title"><strong>Undergraduate Research Assistant</strong> - Network Lab, LUMS</span>
            <ul>
              <li>Worked on optimizing Android Kernel's MMU for the federated learning environments.</li>
            </ul>
          </td>
        </tr>
  
        <!-- Undergraduate Research Assistant (May 2022 – Sept 2022) -->
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2022-05-01" | date: "%b, %Y" }} – {{ "2022-09-01" | date: "%b, %Y" }}
          </th>
          <td>
            <span class="news-title"><strong>Undergraduate Research Assistant</strong> - Blockchain Lab, LUMS</span>
            <ul>
              <li>Explored potential attacks on existing reputation models deployed over Ethereum 2.0.</li>
            </ul>
          </td>
        </tr>
      </table>
    </div>
  </div>
  