<div class="news">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2021-12-01" | date: "%b, %Y" }}
          </th>
          <td>
            <span class="news-title">Dean's Honor List</span>
          </td>
        </tr>
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2022-12-01" | date: "%b, %Y" }}
          </th>
          <td>
            <span class="news-title">Dean's Honor List</span>
          </td>
        </tr>
        <tr>
          <th scope="row" style="width: 40%">
            {{ "2023-12-01" | date: "%b, %Y" }}
          </th>
          <td>
            <span class="news-title">Dean's Honor List</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  